<!DOCTYPE html>
<html lang="en">


  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Facebook</title>

    <!-- Bootstrap core CSS -->
      <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
      <link href="{{ url_for('static', filename='css/round-about_facebook.css') }}" rel="stylesheet"/>

    <!--Content link-->
      <link type="text/css" href="{{ url_for('static', filename='css/facebook.css') }}" rel="stylesheet"/>


  </head>

  <body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
      <div class="container">
        <a class="navbar-brand" href="#">Profiling System</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="page_home.html">Home
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="page_search.html">Evidence Search
			  <span class="sr-only">(current)</span>
			  </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Report</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="page_login.html">Logout</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Page Content -->
   
    <!--Kotak Profile-->
    <div class="bodyn">
            <img src="https://graph.facebook.com/{{userID}}/picture?type=large" id="img_profpic">
        <h3>  {{   name    }}
o</h3>
    </div>

    <!--Kotak Relationship-->
    <div id="box_relationship" class="bodyn">

{#      <img src="img/gfx_love_icon.png" id="img_small_icon"/>#}
      <p id="p_relationship">
{#      Married to <span id="p_relationship_name">Edward Smith</span>#}
{#      </p>#}
    </div>

    <!--Kotak Relatives-->
    <div id="box_relative" class="bodyn">
          {% if not family %}
                cant fetch family data members
        {% else %}

        {% for family in family %}
            <br>
            <a href="{{ url_for('profile', username = family['id']) }}"><img src="https://graph.facebook.com/{{family['id']}}/picture?type=album"></a>
            <br>
             <p id="p_relative">
                 {{family['name']}}</p>
        <br>
        {% endfor %}
        {% endif %}


      

    </div>

    <!--Kotak Top Friends-->

    <div class="mainbox_topfriend">
      <div id="box_title">
        <p id="p_title">Top Friends</p>
      </div>
                  <div id="topFriends"></div>

    </div>

    <!--Kotak Post-->

  <div class="mainbox_post">
    <div id="box_title">
      <p id="p_title">Top Self Post / Mention Post</p>
    </div>

       {% if not post %}
            Cant fetch post data from user
        {% else %}
    {% for post in post %}
        <a href="https://facebook.com/{{post['id']}}">
    <div id="box_post_white">
    Posted on  {{  post['created_time']|format_date }} <br>

    <img src="https://graph.facebook.com/{{post['id']}}/picture?type=album">

        {% if 'message' in post %}
                 {{ post['message'] }}
        {% elif 'story' in post %}
                     {{ post['story'] }}
        {% endif %}

    </div></a>
    {% endfor %}
    {% endif %}
    
  </div>
      <div class="mainbox_map">
      <div id="box_title">
        <p id="p_title">Recent Location</p>
      </div>

        <div id="pam" style="height: 500px ; width: 500px"></div>
</div>


    <!--Kotak Friends-->
    <div class="mainbox_friend">
      <div id="box_title">
        <p id="p_title">Friends</p>
      </div>

        {% if not friends %}
            cant fetch friends data
        {% else %}
        {% for friends in friends %}
            <div id="box_friend_profpic">
                 <a href="{{ url_for('profile', username = friends['id']) }}">
                     <img src="https://graph.facebook.com/{{friends['id']}}/picture?type=album" id="img_friend_profpic"/>
                </a>
                <p id="p_friend_name">{{friends['name']}}</p>
            </div>
        {% endfor %}
        {% endif %}


    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/popper/popper.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>

      <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <script>
                window.onload = start_long_task()

{#         $(function() {#}
{#            $('#start-bg-job').click(start_long_task);#}
{#        });#}

         function start_long_task() {

            // send ajax POST request to start background job
            $.ajax({
                type: 'POST',
                url: '/analysis',
                success: function(resp) {

                    topFriend(resp)
                    start_next()


                },
                error: function() {
                }
            });
        }

        function start_next(){
             $.ajax({
                 type: 'POST',
                 url: '/nextAnalysis',
                 success: function(resp){

                 }

             })
        }

        function topFriend(resp){
            alert('Unexpected error');
             $('div#topFriends').append(resp.LikesComments);

        }
      var map;
      function initMap() {
          alert("initmap")
        map = new google.maps.Map(document.getElementById('pam'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8        });

           var markers = locations.map(function(location, i) {
          return new google.maps.Marker({
            position: location,
          });
        });
            var locations = [
        {lat: -31.563910, lng: 147.154312},
        {lat: -33.718234, lng: 150.363181},
        {lat: -33.727111, lng: 150.371124},
        {lat: -33.848588, lng: 151.209834},
        {lat: -33.851702, lng: 151.216968},
        {lat: -34.671264, lng: 150.863657},
        {lat: -35.304724, lng: 148.662905},
        {lat: -36.817685, lng: 175.699196},
        {lat: -36.828611, lng: 175.790222},
        {lat: -37.750000, lng: 145.116667},
        {lat: -37.759859, lng: 145.128708},
        {lat: -37.765015, lng: 145.133858},
        {lat: -37.770104, lng: 145.143299},
        {lat: -37.773700, lng: 145.145187},
        {lat: -37.774785, lng: 145.137978},
        {lat: -37.819616, lng: 144.968119},
        {lat: -38.330766, lng: 144.695692},
        {lat: -39.927193, lng: 175.053218},
        {lat: -41.330162, lng: 174.865694},
        {lat: -42.734358, lng: 147.439506},
        {lat: -42.734358, lng: 147.501315},
        {lat: -42.735258, lng: 147.438000},
        {lat: -43.999792, lng: 170.463352}
      ]
      }

    </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeNL8cEdLSeUcniCTWVazfV71fXkXqcso&callback=initMap"
    async defer></script>

  </body>

</html>
