<h1> Analysis for </h1>

<a href="" onclick=postHour()>post by hour</a>
<a href="" onclick=postMonth()>post by Month</a>
<a href="" onclick=postDay()>post by day</a>


<div id="result"></div>

<div id="">
{% for key, value in postHour.iteritems() %}
    <h1>{{ key }}</h1>
    {% for i in value %}
        {% if 'message' in i %}
            <li>{{ i['message'] }}</li>
        {% endif %}
        {% if 'story' in i %}
            <li>{{ i['story'] }}</li>
        {% endif %}

    {% endfor %}
{% endfor %}




<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script>

     function postHour(){
          $.ajax({
                type: 'GET',
                url: '/getPostHour',
                contentType: "application/json",
                data:  JSON.stringify(search),
                success: function(resp) {

                    document.getElementById("result").innerHTML = resp.result

                },
                error: function() {
                }
            })
     }

     function postMonth(){
          $.ajax({
                type: 'GET',
                url: '/getPostMonth',
                contentType: "application/json",
                data:  JSON.stringify(search),
                success: function(resp) {

                    alert(search);
                    document.getElementById("result").innerHTML = resp.result

                },
                error: function() {
                }
            })
     }

     function postDay(){
          $.ajax({
                type: 'GET',
                url: '/getPostDay',
                contentType: "application/json",
                data:  JSON.stringify(search),
                success: function(resp) {

                    alert(search);
                    document.getElementById("result").innerHTML = resp.result

                },
                error: function() {
                }
            })
     }


</script>