    <!DOCTYPE html>
    <html lang="en">

    <head>

      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="">
      <meta name="author" content="">

      <title>IPPI facebook profile</title>

      <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
      <link href="{{ url_for('static',filename='css/round-about_search_fb.css') }}" rel="stylesheet">
      <link href="{{ url_for('static',filename='css/insta_search.css') }}" rel="stylesheet">

    </head>
    <!-- HEADER -->
    {% include "header.html" %}

    <body>

      <!-- DIV CONTAINER -->
      <div class="container">

        <!-- FACEBOOK ICON -->
        <img class="rounded-circle img-fluid d-block mx-auto" src="{{url_for('static', filename='img/facebook_icon.png') }}" alt="" style="width:200px; height:200px;">
        <h1 class="my-4">Search Facebook Profile</h1>

        <!-- FORM -->
        <form>
          <input type="text" id="search" placeholder="Search..">
          <br>
        </form>

        <!-- RESULT -->
        <div id="result" class="row"></div>

        <script>
          document.getElementById('search').onkeypress = function(e){
            if (!e) e = window.event;
            if (e.keyCode == '13'){
              start_search()
              return false;
            }
          }

          function start_search() {
            document.getElementById("result").innerHTML = '<img  style="width:200px; margin:0 auto;" src="{{ url_for('static', filename='img/loading.gif') }}">'
            search = $('#search').val();

            // send ajax POST request to start background job
            $.ajax({
              type: 'POST',
              url: '/facebook/searchResult',
              contentType: "application/json",
              data:  JSON.stringify(search),
              success: function(resp) {
                  document.getElementById("result").innerHTML = resp.result

              },
              error: function() {
                  document.getElementById("result").innerHTML = "<br><img src={{ url_for('static', filename='img/error.gif') }}><h3> Theres Some Unexpected Error , Please Retry Again </h3>"

              }

            })}
          </script>

        </div>
        <!-- END DIV CONTAINER -->


        {#<link type="text/css" href="{{ url_for('static', filename='css/facebook.css') }}" rel="stylesheet"/>#}
        <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/popper/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>




      </body>
      </html>