<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Report Page</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='css/round-about_report.css') }}" rel="stylesheet"/>

    <!-- Bootstrap Grid css -->
    <link href="{{ url_for('static', filename='css/bootstrap-grid.css') }}" rel="stylesheet"/>

    <!--Content link-->
    <link href="{{ url_for('static', filename='css/report.css') }}" rel="stylesheet"/>

    <!-- Print only, on bottom -->
    <link href="{{ url_for('static', filename='css/print.css') }}" rel="stylesheet"/>


</head>

<body>

<!--************************************************************************************************* Navigation -->
{#{% include "header.html" %}#}
<!--************************************************************************************************* END NAVIGATION -->

<!--************************************************************************************************* BUTTON: TOP SCROLL  -->
<button onclick="topFunction()" id="myBtn" title="Go to top" class="hide">Top</button>

<script>
    window.onscroll = function () {
        scrollFunction()
    };
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>
<!--************************************************************************************************* END BUTTON: TOP SCROLL -->


<!--************************************************************************************************* BOX: MAIN CONTENT "kotakbesar"-->
<div class="kotakbesar">
    <!-- TITLE -->
    <div id="title_fb" class="hide">
    </div>
    <div class="row">
        <!--************************************************************************************************* BOX: MIDDLE COLUMN -->
            <!--************************************************************************************************* BOX: FB DP RELATION -->
        <div class="col-md-12">
        <h3>Facebook Profiling Report </h3>
        <hr>
        <br>
            <div id="box_dpFB">
                <div class="row">
                    <div id="box_dpFB_kecik"> <!--FB DP BOX (EACH)-->
                        <div class="haha">
                            <img src="https://graph.facebook.com/{{ userID }}/picture?type=large">
                        </div>
                    <div id="box_biodata">

                        <h2> {{ name }} </h2>
                    </div>

                    </div>
                </div>
            </div>

            <!--************************************************************************************************* BOX: LOCATION -->
            <hr>
            <div id="box_location">
                <h2>Family Members</h2>
                {% for i in family %}
                    <li>{{ i['relationship'] }} : {{ i['name'] }}</li>
                {% endfor %}
            </div>
            <hr>



            <div id="box_location">
                <h3>Recent Location</h3>
                {% for key, value in address.iteritems() %}
                    {% if value %}

                        {% if key == "1" %}<h4>January</h4>
                        {% elif key == "2" %}<h4>February</h4>
                        {% elif key =="3" %}<h4>March</h4>
                        {% elif key =="4" %}<h4> April</h4>
                        {% elif key == "5" %}<h4>May</h4>
                        {% elif key =="6" %}<h4>June</h4>
                        {% elif key == "7" %}<h4>July</h4>
                        {% elif key =="8" %}<h4>August</h4>
                        {% elif key =="9" %}<h4>September</h4>
                        {% elif key == "10" %}<h4>October</h4>
                        {% elif key =="11" %}<h4>November</h4>
                        {% elif key =="12" %}<h4>December</h4>

                        {% endif %}
                        {% endif %}


                        {% for i in value %}
                            <li>{{ i }}</li>
                        {% endfor %}



                {% endfor %}
            </div>
            <!--************************************************************************************************* END BOX: LOCATION -->
            <hr>

        <!--************************************************************************************************* BOX: RIGHT COLUMN: POST-->
        <!-- POST -->
        <div id="box_post">
                <h4>POST</h4>
                {% for i in post['data'] %}

                    <div id="box_eachPost">

                    {% if 'message' in i %}
                        <li>{{ i['message'] }}</li>
                    {% elif 'story' in i%}
                        <li>{{ i['story'] }}</li>
                    {% endif %}
                                </div>

                {% endfor %}
        </div>

        <hr>

        <!--************************************************************************************************* BOX: RIGHT COLUMN: CHART -->
        <!-- CHART 1 -->
        <hr>
        <div id="box_chart">
            Positivity
            <hr>
            <img style="height: 400px" src="data:image/png;base64, {{ posnegGraph }}">
            <!--PUT DP FB HERE-->
        </div>

        <hr>

        <div id="box_chart">
            Topic
            <hr>
            <img style="height: 400px" src="data:image/png;base64, {{ topicGraph }}">
        </div>

        <hr>

        <div id="box_chart">
            Time Active
            <hr>
            <img style="height: 400px" src="data:image/png;base64, {{ monthGraph }}">
            <img style="height: 400px" src="data:image/png;base64, {{ dayGraph }}">
            <img style="height: 400px" src="data:image/png;base64, {{ hourGraph }}">

        </div>

    </div>


</div>
</div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
