<div id="box_id_topfriend">

<h5>Most Comment</h5>
<hr>
<div class="row">
     {% for dict_item in comments %}
          <a href="{{ url_for('facebookRelation', currentId = currentId,id = dict_item) }}">
              <img src="https://graph.facebook.com/{{dict_item}}/picture?type=large" id="img_topfriends_profpic"></a>
     {% endfor %}
</div>
<h5>Most Like</h5>
<hr>
<div class="row">

    {% for dict_item in likes %}

          <a href="{{ url_for('facebookRelation', currentId = currentId,id = dict_item) }}">
              <img src="https://graph.facebook.com/{{dict_item}}/picture?type=large" id="img_topfriends_profpic"></a>
     {% endfor %}
</div>
<h5>Most Tag</h5>
<hr>
<div class="row">

    {% for dict_item in tags %}

          <a href="{{ url_for('facebookRelation', currentId = currentId,id = dict_item) }}">
              <img src="https://graph.facebook.com/{{dict_item}}/picture?type=large" id="img_topfriends_profpic"></a>
     {% endfor %}

</div>
      </div>


