<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Analysis Page</title>
  {{sndmap.js}}
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet"/>
  <!-- Custom styles for this template -->
  <link href="{{ url_for('static', filename='css/round-about_analysis.css') }}" rel="stylesheet"/>

  <!-- Bootstrap Grid css -->
  <link href="{{ url_for('static', filename='css/bootstrap-grid.css') }}" rel="stylesheet"/>

  <!--Content link-->
  <link href="{{ url_for('static', filename='css/analysis.css') }}" rel="stylesheet"/>
  <!-- Icon Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <!-- Icon Google -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">




</head>

<body>

  {% include "header.html" %}

  <!-- Page Content -->
  <!-- <div class="container"> -->
    <div class="kotakbesar">
     <div class="row">
      <div class="col-md-3">
        <!-- KOTAK NAVIGATION KIRI -->
        <div id="box_sideNavigation">
          <div class="btn-group2">
            <button class="button2" onclick="myFunctionMap()"><i class="fa fa-map-pin"></i>&ensp; Map</button>

            <script>
              function myFunctionMap(){
                document.getElementById("box_main_timeContent").style.display = "none";
                document.getElementById("box_main_mapContent").style.display = "block";
                document.getElementById("box_map").style.display = "block";
                document.getElementById("box_main_mapContent").scrollIntoView();
                document.getElementById("box_main_topicContent").style.display = "none";
                document.getElementById("box_main_posnegContent").style.display = "none";
                document.getElementById("box_main_recentLocation").style.display = "none";
              }
            </script>

            <button class="button2" onclick="myFunctionTime()"><i class="fa fa-history"></i>&ensp; Time Log</button>

            <script>
              function myFunctionTime(){
                document.getElementById("box_main_mapContent").style.display = "none";
                document.getElementById("box_main_timeContent").style.display = "block";
                document.getElementById("box_timetitle").scrollIntoView();
                document.getElementById("box_main_topicContent").style.display = "none";
                document.getElementById("box_main_posnegContent").style.display = "none";
                document.getElementById("box_main_recentLocation").style.display = "none";
              }
            </script>

            <button class="button2" onclick="myFunctionTopic()"><i class="fa fa-bar-chart"></i>&ensp; Topic Category Chart</button>

            <script>
              function myFunctionTopic(){
                document.getElementById("box_main_mapContent").style.display = "none";
                document.getElementById("box_main_timeContent").style.display = "none";
                document.getElementById("box_main_topicContent").style.display = "block";
                document.getElementById("box_main_topicContent").scrollIntoView();
                document.getElementById("box_main_posnegContent").style.display = "none";
                document.getElementById("box_main_recentLocation").style.display = "none";
              }
            </script>

            <button class="button2" onclick="myFunctionPosNeg()"><i class="fa fa-pie-chart"></i>&ensp; Positive/Negative Chart</button>

            <script>
              function myFunctionPosNeg(){
                document.getElementById("box_main_mapContent").style.display = "none";
                document.getElementById("box_main_timeContent").style.display = "none";
                document.getElementById("box_main_topicContent").style.display = "none";
                document.getElementById("box_main_posnegContent").style.display = "block";
                document.getElementById("box_main_posnegContent").scrollIntoView();
                document.getElementById("box_main_recentLocation").style.display = "none";
              }
            </script>

          </div>
        </div>
      </div>



      <div class="col-md-9">
        <!-- MAP PORTION CONTENT -->
        <div id="box_main_mapContent">
          <!-- MAP TITLE -->
          <div id="box_maptitle">
            <!-- <p id="p_title_content"> MAP</p> -->
            <div style="width: 100%;">
              <div class="btn-group3">
                <button class="button3" onclick="myFunctionMap2()">MAP</button>
                  <button class="button3" onclick="myFunctionRecentLocation()">Recent Location</button>

                  <script>
                  function myFunctionMap2() {
                    document.getElementById("box_map").style.display = "block";
                    document.getElementById("box_main_recentLocation").style.display = "none";
                  }

                  function myFunctionRecentLocation() {
                    document.getElementById("box_map").style.display = "none";
                    document.getElementById("box_main_recentLocation").style.display = "block";
                  }
                </script>
              </div>
            </div>
          </div>

          <div id="box_map" style="color:white">
            {{sndmap.html}}
          </div>

            <div id="box_main_recentLocation" style="color:white; margin-top: 30px">

                        {% for key, value in monthloc.iteritems() %}
                        {% if value %}

                            {% if key == 1 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> January </h1>{% endif %}
                            {% if key == 2 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> February </h1>{% endif %}
                            {% if key == 3 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> March </h1>{% endif %}
                            {% if key == 4 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> April </h1>{% endif %}
                            {% if key == 5 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> May </h1>{% endif %}
                            {% if key == 6 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> June </h1>{% endif %}
                            {% if key == 7 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> July </h1>{% endif %}
                            {% if key == 8 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> August </h1>{% endif %}
                            {% if key == 9 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> September </h1>{% endif %}
                            {% if key == 10 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> October </h1>{% endif %}
                            {% if key == 11 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> November </h1>{% endif %}
                            {% if key == 12 %}<h1 style="margin-top: 15px;margin-bottom: 10px;"> December </h1>{% endif %}

                        {% endif %}


                            {% for val in value %}
                                <li>{{ val }}</li>
                            {% endfor %}



                        {% endfor %}

                        <div id="locationReport" style="color: white"></div>

                </div>
        </div>


        <!-- TIME PORTION CONTENT -->
        <div id="box_main_timeContent">
          <!-- TIME TITLE -->
          <div id="box_timetitle">
           <p id="p_title_content"> TIME</p>
         </div>

         <button id="postHourBtn" onclick="postHour()">Post By Hour</button>
         <button id="postMonthBtn" onclick="postMonth()">Post By Month</button>
         <button id="postDayBtn" onclick="postDay()">Post By Day</button>


         <div id="box_time" style="color:white">

          <!-- TIME - LETAK TIME HANG KAT SINI -->


          <div id="postDay" style="display: none">
            <img src="data:image/png;base64, {{ dayGraph }}">
            <h2>Post By Day</h2>
            {% for key, value in day.iteritems()|sort %}
            {% if key == 0 %}<h1> Monday </h1>{% endif %}
            {% if key == 1 %}<h1> Tuesday </h1>{% endif %}
            {% if key == 2 %}<h1> Wednesday </h1>{% endif %}
            {% if key == 3 %}<h1> Thursday </h1>{% endif %}
            {% if key == 4 %}<h1> Friday </h1>{% endif %}
            {% if key == 5 %}<h1> Saturday </h1>{% endif %}
            {% if key == 6 %}<h1> Sunday </h1>{% endif %}

            <ul>
              {% for val in value %}
              <li>{{ val }}</li>

              {% endfor %}
            </ul>
            {% endfor %}

          </div>

          <div id="postHour" style="display: block">
            <img src="data:image/png;base64, {{ hourGraph }}">
            <h2>Post By Hour</h2>
            {% for key, value in hour.iteritems() %}
            <h1>{{ key }}</h1>
            <ul>
              {% for val in value %}
              <li>{{ val }}</li>

              {% endfor %}
            </ul>
            {% endfor %}

          </div>

          <div id="postMonth" style="display: none">
            <img src="data:image/png;base64, {{ monthGraph }}">
            <h2>Post By Month</h2>
            {% for key, value in month.iteritems()|sort %}
            {% if key == 1 %}<h1> January </h1>{% endif %}
            {% if key == 2 %}<h1> February </h1>{% endif %}
            {% if key == 3 %}<h1> March </h1>{% endif %}
            {% if key == 4 %}<h1> April </h1>{% endif %}
            {% if key == 5 %}<h1> May </h1>{% endif %}
            {% if key == 6 %}<h1> June </h1>{% endif %}
            {% if key == 7 %}<h1> July </h1>{% endif %}
            {% if key == 8 %}<h1> August </h1>{% endif %}
            {% if key == 9 %}<h1> September </h1>{% endif %}
            {% if key == 10 %}<h1> October </h1>{% endif %}
            {% if key == 11 %}<h1> November </h1>{% endif %}
            {% if key == 12 %}<h1> December </h1>{% endif %}


            <ul>
              {% for val in value %}
              <li>{{ val }}</li>

              {% endfor %}
            </ul>
            {% endfor %}

          </div>
        </div>
        <script>

          function postDay(){
            document.getElementById("postMonth").style.display = "none";
            document.getElementById("postDay").style.display = "block";
            document.getElementById("postHour").style.display = "none";

          }

          function postHour(){
           document.getElementById("postMonth").style.display = "none";
           document.getElementById("postHour").style.display = "block";
           document.getElementById("postDay").style.display = "none";
         }
         function postMonth(){
          document.getElementById("postDay").style.display = "none";
          document.getElementById("postMonth").style.display = "block";
          document.getElementById("postHour").style.display = "none";      }

        </script>


      </div>
      <!-- TOPIC CHART PORTION CONTENT -->
      <div id="box_main_topicContent">
        <!-- TOPIC CHART TITLE -->
        <div id="box_topictitle" >
         <p id="p_title_content"> TOPIC CATEGORY CHART</p>
       </div>

       <div id="box_topic" style="color:white">
        <!-- TOPIC CHART- LETAK TOPIC CHART HANG KAT SINI -->

        <img src="data:image/png;base64, {{ topicGraph }}">

        <p id="p_title_content">
          {% for key, value in topic.iteritems() %}
          <h1>{{ key }}</h1>
          <ul>
            {% for val in value %}
            <li>{{ val }}</li>
            {% endfor %}
          </ul>
          {% endfor %}
        </div>
      </div>

      <!-- POSNEG PORTION CONTENT -->
      <div id="box_main_posnegContent">
        <!-- POSNEG TITLE -->
        <div id="box_posnegtitle" >
         <p id="p_title_content"> POSITIVE NEGATIVE CHART</p>
       </div>

       <div id="box_posneg" style="color:white">
        <!-- POSNEG- LETAK POSITIVE NEGATIVE CHART HANG KAT SINI -->

        <img src="data:image/png;base64, {{ posnegneuGraph }}">


        {% for key, value in posnegneu.iteritems() %}
        <h1>{{ key }}</h1>
        <ul>
          {% for val in value %}
          <li>{{ val }}</li>
          {% endfor %}
        </ul>
        {% endfor %}


      </div>
    </div>

  </div>
</div>
</div>


<!-- FLOATINGBUTTON -->
<a href="#" onclick="myFunction()" class="float">
    <i class="fa fa-arrow-up my-float"></i>
</a>

<script>
  window.onscroll = function() {scrollFunction()};
  function scrollFunction() {
    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
      document.getElementById("myBtn").style.display = "block";
  } else {
      document.getElementById("myBtn").style.display = "none";
  }
}
function topFunction() {
    document.body.scrollTop = 0;
    document.documentElement.scrollTop = 0;
}
</script>
<a href="{{ url_for('instaPDF', id=person) }}" disabled="True" class="float2">
    <i class="fa fa-file my-float"></i>
</a>
<!-- END FLOAT BUTTON -->


<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/popper/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

</body>

</html>
