<!DOCTYPE html>

<html>
<head>
  <!-- Bootstrap core CSS -->
  <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

  <!--Content link-->
  <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='css/login.css') }}"/>

  <title>Login</title>
</head>
<body background="{{ url_for('static',filename='img/kk.gif')}}">
	
  <div class="kotakbesar">
    <div class="kotakshade">
    <!-- <div id="title">
      <h1>Intelligent Profiling System</h1>
    </div> -->


    <div class="row">
      <div class="col-md-6">
        <div class="imgcontainer">
            <img src="{{ url_for('static',filename='img/logo.png')}}" alt="Avatar" class="avatar"/>
          </div>
      </div>
      <div class="col-md-6">

        
        <!-- FORM -->
        <form action="/login" method="POST">
          {{ form.hidden_tag() }}

          


          <div class="container">
            <!-- <label><b>Username</b></label> -->
            <!-- <input type="text" placeholder="Enter Username" name="uname" required> -->
            Username:
            {{ form.username }}
            <!-- <label><b>Password</b></label> -->
            <!-- <input type="password" placeholder="Enter Password" name="psw" required> -->
            Password:
            {{ form.password }}


            <button type="submit">Login</button>
            <p style="color:red;">{{ error }}</p>
            <!-- <input type="checkbox" checked="checked"> --> 
            <!-- </div> -->

            <!-- <div class="container"> -->
              <!-- <button type="button" class="cancelbtn">Cancel</button> -->
              {{ form.remember }} Remember me
              <!-- <span class="psw">Forgot <a href="#">password?</a></span> -->
            </div>
          </form>
        </div>
        </div> <!-- col-md-12 -->
      </div>

    </div>
  </body>

  </html>