<!DOCTYPE html>
<html lang="en">

<head>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Search</title>

	<!-- Bootstrap core CSS -->
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename='vendor/bootstrap/css/round-about.css')}}" rel="stylesheet">
	<link href="{{ url_for('static', filename='css/round-about_home.css') }}" rel="stylesheet"/>


</head>

<body>
	{% include "header.html" %}

	<!-- Page Content -->
    <div class="container">

        <h1>Change Password</h1>

        <form action="{{ url_for('changePassword') }}" method="POST">
          {{ form.hidden_tag() }}
            New Password :
            {{ form.password1 }}
    <button class="btn btn-sm btn-success" type="submit">Update</button>
  </form>

    </div>


</body>