<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Register</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!--Content link-->
    <link rel="stylesheet" type = "text/css" href="{{ url_for('static',filename='css/register.css') }}"/>

</head>

<body background="{{ url_for('static',filename='img/kk.gif')}}">
    <div class="kotakbesar">
        <div class="row">
          <div class="col-md-6">
            <div class="logobox">
                <div class="imgcontainer">
                    <img src="{{ url_for('static',filename='img/logo.png')}}" alt="Avatar" class="avatar">
                </div>

                <div id="title">
                    <h1>Register</h1>
                </div>
            </div>
        </div>


        <div class="col-md-6">
            

            <form action="/register" method="POST">
                {{ form.hidden_tag() }}

                <div class="container">
                  Email:
                  {{ form.email }}
                  Username:
                  {{ form.username }}
                  Password:
                  {{ form.password }}


                  <button type="submit">Register</button>

              </div>

          </form>

      </div> <!-- END COLUMN -->


  </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/popper/popper.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

</body>

</html>