<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Twitter</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ url_for('static',filename = 'vendor/bootstrap/css/bootstrap.min.css') }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename = 'css/round-about_twitter.css') }}" rel="stylesheet">

    <!--Content link-->
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/twitter2.css') }}"/>
    <link rel="stylesheet" href="../static/css/twitter2.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
{% include "header.html" %}

<body>

<!-- Page Content -->

<div class="kotakbesar">
    <div class="row">
        <div class="col-md-3">

            <!--Kotak Profile-->
            <div class="bodyn">
                <div class="row">
                    <!-- KOTAK GAMBAR DP -->
                    <!-- <div class="col-md-6"> -->
                    <div id="box_profilePicture">
                        <img src={{ userImg }} id="img_profpic"/>


                    </div>
                    <!-- </div> -->

                    <!-- KOTAK INFO PROFILE -->
                    <!-- <div class="col-md-6"> -->
                    <!-- STATUS -->
                    <div id="box_profileStatus">
                        <br>
                        <p id="p_id">{{ user["name"] }}</p>
                        <p id="p_username">@{{ user["screen_name"] }}</p>
                        <p id="p_status">{{ user["description"] }}</p>
                        <p id="p_join">Joined <br>{{ getCreateTime }}</p>
                    </div>
                </div>
            </div>

            <!-- KOTAK FOLLOWER & FOLLOWING -->
            <!-- FOLLOWING -->
            <div class="box_ff">

                <div id="box_title">
                    <p id="p_ff">Following <br> {{ followingCount }}</p>
                </div>
                <div id="box_following">
                    {% for x in range(0,16) %}
                        <div id="box_friend_profpic">
                            <a href="{{ url_for('twitterProfile', username = followingName[x]) }}"> <img
                                    src={{ followingImgURL[x] }} id="img_friend_profpic"/> </a>
                            <p id="p_friend_name">@{{ followingName[x] }}</p>
                        </div>
                    {% endfor %}
                </div>

                <!-- FOLLOWER -->
                <div id="box_title">
                    <p id="p_ff">Followers <br> {{ followerCount }}</p>
                </div>
                <div id="box_follower">

                    {% for x in range(0,16) %}
                        <div id="box_friend_profpic">
                            <a href="{{ url_for('twitterProfile', username = followerName[x]) }}"><img
                                    src={{ followerImgURL[x] }} id="img_friend_profpic"/> </a>
                            <p id="p_friend_name">@{{ followerName[x] }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

        </div> <!-- CLOSING col-md-3 -->

        <div class="col-md-9">

            <!--Kotak Recent Tweet-->
            <div class="mainbox_post">
                <div id="box_title">
                    <p id="p_title">Recent Tweets</p></div>
                    <div id="tweets"><img style="align-content: center ;margin:auto; display:block; ;height: 100px"
                                          src="{{ url_for('static', filename='img/loading.gif') }}"></div>
            </div>

        </div> <!--close col-md-6 -->


    </div> <!-- CLOSING row -->

</div> <!-- CLOSING kotak_besar -->

<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/popper/popper.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>


<!-- FLOATINGBUTTON -->
<a href="#" onclick="myFunction()" class="float">
    <i class="fa fa-arrow-up my-float"></i>
</a>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>


<script>
    window.onload = start_long_task();


    function start_long_task() {

        // send ajax POST request to start background job
        $.ajax({
            type: 'POST',
            url: '/twitter/gettweet/{{ user["screen_name"] }}',
            success: function (resp) {

                document.getElementById("tweets").innerHTML = resp.result;


            },
            error: function () {
            }
        });
    }

    window.onscroll = function () {
        scrollFunction()
    };
    function scrollFunction() {
        if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
            document.getElementById("myBtn").style.display = "block";
        } else {
            document.getElementById("myBtn").style.display = "none";
        }
    }
    function topFunction() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
    }
</script>

<a href="{{ url_for('twitterAnalysis') }}" disabled="True" class="float2">
    <i class="fa fa-bar-chart my-float"></i>
</a>

<a href="#" class="float3">
    <i class="fa fa-file my-float"></i>
</a>

</body>

</html>
