<!DOCTYPE html>
<title>Welcome to the new boston</title>
<h1>Search Result</h1>
<hr>
<div>

    <img src="https://graph.facebook.com/{{userID}}/picture?height=500">
    <br>
    Name : {{   name    }}

    <br>
    <h3>Post :</h3>
    <hr>
    {% for post in post %}
    <div class=flash style="text-align: center">hi
        {{          post['created_time'] }}
    <br>
        {% if 'picture' in post %}
        <img src = "{{post['picture']}}">
        {% endif %}

        {% if 'message' in post %}
                 {{ post['message'] }}
        {% elif 'story' in post %}
                     {{ post['story'] }}
        {% endif %}

        <a href="https://facebook.com/{{post['id']}}"> link </a>

    </div>
    {% endfor %}
</div>