<!DOCTYPE html>
<title>IPPI Instagram profile</title>
<h1>Search Result</h1>
<hr>
<div style="margin:100px">
    {% if not result %}
        Nothing is found
    {% else %}
        {% for result in result %}
            <hr>
            <img src={{result.profile_picture}}>
            <br>
            Username : {{ result.username }}
            <br>
            Name : {{ result.full_name }}
            <br>
            <a href="{{ url_for('user_profile', id = result.id) }}">Click here</a>


        {% endfor %}
    {% endif %}

</div>