/*BOX-------------------------------------------------------*/
body{
  background-color: #262626;
  color:white;
}

.bodyn{
  left:30px;
  width:100%;
  font-family:verdana;
  min-height:0px;
  margin: auto;
}

#box_relationship{
  /*box-shadow: 10px 10px grey;*/
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  left:30px;
  width:90%;
  height:84px;
  font-family:verdana;
  background-color: #1a1a1a;
  padding: 20px;
  padding-left: 30px;
  padding-top: 30px;
  margin-top: 30px;
  filter:drop-shadow(0px 20px 20px black);
}

#box_relative{
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  width:90%;
  font-family:verdana;
  background-color: #1a1a1a;
  padding: 30px;
  min-height: 10px;
  margin-bottom: 47px;
  filter:drop-shadow(0px 20px 20px black);
  color: white;
  text-align: center;
}

.mainbox_topfriend{
  margin:auto;
  width:90%;
  min-height:0px;
  background-color: #1a1a1a;
  margin-bottom: 47px;
  filter:drop-shadow(0px 20px 20px black);
}
#box_title{
  background-color: #336699;
  min-height: 0px;
  padding: 5px;
  filter:drop-shadow(0px 20px 20px black);
}
#box_id_topfriend{
  padding-bottom: 20px;
  /*margin:20px;*/
  min-height: 0px;
  margin:20px;
  display:flex;
  justify-content: center;
  flex-wrap: wrap;
}
.mainbox_post{
  margin-top: 20px;
  margin:auto;
  width:90%;
  min-height:0px;
  background-color: #1a1a1a;
  padding-bottom: 35px;
  margin-bottom: 47px;
  filter:drop-shadow(0px 20px 20px black);
}
#box_post_white{
  filter:drop-shadow(0px 20px 20px black);
  min-height:0px;
  margin:35px;
  background-color: #262626;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  /*-moz-box-shadow:    inset 0 0 10px #000000;
  -webkit-box-shadow: inset 0 0 10px #000000;
  box-shadow:         inset 0 0 10px #000000;*/
  padding:30px;
}

.mainbox_friend{
  width:90%;
  margin: auto;
  min-height:0px;
  background: #1a1a1a;
  border-radius:3px/3px;
  filter:drop-shadow(0px 20px 20px black);
  /*padding-top: 20px;*/
}

#box_friends2{
  display: flex;
  justify-content: flex-start;
  padding: 20px;
  /*flex-wrap: wrap;*/
  /*justify-content: space-between;*/
  /*justify-content: space-around;*/
}

#box_friend_profpic{
  width:76px;
  height:90px;
  margin: 10px;
  text-align: center;
}
#box_friend_name{
  text-align: center;
}
#box_flex_friend{
  width:100%;
  display: flex;
  justify-content: center;
    flex-wrap: wrap;
}

/*BUTTON*/
.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:40px;
  background-color:#4b4b4b;
  color:white;
  border-radius:15px;
  text-align:center;
  filter:drop-shadow(0px 20px 20px black);
}

.float2{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:111px;
  background-color:#4b4b4b;
  color:white;
  border-radius:15px;
  text-align:center;
  filter:drop-shadow(0px 20px 20px black);
}

.float3{
  position:fixed;
  width:60px;
  height:60px;
  bottom:40px;
  right:182px;
  background-color:#4b4b4b;
  color:white;
  border-radius:15px;
  text-align:center;
  filter:drop-shadow(0px 20px 20px black);
}
.my-float{
  margin-top:22px;
  filter:drop-shadow(0px 20px 20px black);
}



/*FONT-------------------------------------------------------*/
h3{
  text-align: center;
  padding: 15px;
  font-family: calibri;
}
#p_relationship{
  text-align: absolute;
  font-size: 14px;
  color: white;
  font-style: bold;
  font-family: calibri;
}
#p_relationship_name{
  text-align: absolute;
  font-size: 14px;
  color: #ccd9ff;
  font-weight: bold;
  font-family: calibri;
}
#p_relative{
  font-size: 13px;
  color: white;
  font-weight: bold;
  padding: 4px;
  font-family: calibri;
}
#p_relative_relation{
  font-size: 11px;
  font-weight: normal;
  color: white;
  padding: 10px;
  padding-left: 0px;
  font-family: calibri;
}
#p_title{
  text-align: center;
  font-size: 15px;
  font-family: calibri;
  color: white;
  margin:auto;
}
#p_friend_name{
  font-size: 10px;
}






/*GAMBAR-------------------------------------------------------*/

#img_profpic{
  height:164px;
  display:block;
  margin:auto;
  border-radius:6px;
}

#img_small_icon{
  height: 20px;
  float: left;
  padding-right: 6px;
}

#img_relative_profpic{
  min-width: 0px;
  max-height: 80%;
  border-radius:6px;
}

#img_topfriends_profpic{
  margin:10px;
  height:80px;
  border-radius:6px;
}

#img_friend_profpic{
  height: 70px;
  border-radius:6px;
}