
/*BOX-------------------------------------------------------*/

.bodyn{
    width:100%;
    left:30px;
    font-family:verdana;
    min-height:0px;
}

.kotakbesar{
	padding:20px;
}

#box_profilePicture{
	width:100%;
}
#box_profileStatus{
	width:100%;
}
#box_join{
	width:100%;
}

.box_ff{
	box-shadow: 10px 10px grey;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    width:100%;
    height:565px;
    font-family:verdana;
}

#box_following,#box_follower{
    min-height:0px;
    font-family:verdana;
    background-color: #5D9BD4;
    padding: 10px;
    width:100%;
    display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: space-around;
}
.mainbox_topfriend{
	top:119px;
	left:386px;
	position: absolute;
	width:545px;
	min-height:0px;
	background-color: #8497B0;
}
#box_title{
	background-color: #2977B9;
	min-height: 0px;
	padding: 5px;
}
#box_id_topfriend{
	margin:20px;
	min-height: 250px;
}
.mainbox_post{
	width:90%;
	min-height:0px;
	background-color: #5999D6;	
	margin: auto;
	margin-bottom: 47px;
	padding-bottom: 35px;
}
#box_post_white{
	height:150px;
	margin:35px;
	background-color: white;
}

.mainbox_friend{
width:100%;
min-height:0px;
background:  #5999D6;
border-radius:3px/3px;
margin:auto;
margin-bottom: 47px;
padding-bottom: 35px;
}
#box_friend_profpic{
	width:42.4px;
	height:65px;
	margin: 4px;
	text-align: center;
	margin-bottom: 10px;

}
#box_friend_name{
	text-align: center;
}
.mainbox_map{
	top:109px;
	left:987px;
	width:322px;
	height:322px;
	background:  #8497B0;
	border-radius:3px/3px;
	margin:10px;
	position:absolute;
}
#map{
	width:322px;
	height: 322px;
	background: yellow;
}

/*FONT-------------------------------------------------------*/
h3{
	text-align: left;
	padding: 15px;
	font-family: calibri;
}
#p_username{
	font-size: 20px;
	font-family: calibri;
	font-weight: bold;
	padding-top: 24px;
	padding-bottom: 0px;
}
#p_status{
	font-size: 10px;
	font-style: italic;
}
#p_join{
	font-size: 9px;
	padding-left: 15px;
	float:right;
}
#p_id{
	font-size: 10px;
	float:left;
}
#p_ff{
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	color: white;
	font-family: calibri;
}
#p_relationship_name{
	text-align: absolute;
	font-size: 14px;
	color: #ccd9ff;
	font-weight: bold;
	font-family: calibri;	
}
#p_relative{
	font-size: 13px;
	color: #1F4E79;
	font-weight: bold;
	padding: 4px;
	padding-left: 60px;
	font-family: calibri;
}
#p_relative_relation{
	font-size: 11px;
	font-weight: normal;
	color: white;
	padding: 10px;
	padding-left: 0px;
	font-family: calibri;
}
#p_title{
	text-align: center;
	font-size: 15px;
	font-family: calibri;
	color: white;
	margin:auto;
	}
#p_friend_name{
	font-size: 7px;
	color: white;
}





/*GAMBAR-------------------------------------------------------*/

#img_profpic{
height:164px;
margin-left: 0px;
margin-top: 30px;
}

#img_small_icon{
	height: 20px;
	float: left;
	padding-right: 10px;
}

#img_relative_profpic{
	height: 50px;
	float: left;
}

#img_topfriends_profpic{
	margin:10px;
	height:80px;
	float: left;
}

#img_friend_profpic{
	height: 53px;
}

#img_smallIcon{
	height:40px;
}