
/*BOX-------------------------------------------------------*/
body{
	background-color: #262626;
	color:white;
}
.bodyn{
	width:100%;
	left:30px;
	font-family:verdana;
	min-height:0px;
	background-color:  #262626;
}

.kotakbesar{
	padding:20px;
}

#box_profilePicture{
	width:100%;
	filter:drop-shadow(0px 20px 20px black);
	text-align: center;
}
#box_profileStatus{
	width:100%;
	margin-bottom: 20px;
}
#box_join{
	width:100%;
}
.box_ff{
	filter:drop-shadow(0px 20px 20px black);
}
#box_following,#box_follower{
	min-height:0px;
	font-family:verdana;
	background-color: #1a1a1a;
	padding: 10px;
	width:100%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	justify-content: space-between;
	justify-content: space-around;
}
#box_title{
	background-color: #174469;
	min-height: 0px;
	padding: 1px;
	filter:drop-shadow(0px 20px 20px black);
}
.mainbox_post{
	width:90%;
	min-height:0px;
	background-color: #1a1a1a;	
	margin: auto;
	margin-bottom: 47px;
	padding-bottom: 35px;
	filter:drop-shadow(0px 20px 20px black);
}
#box_post_white{
	filter:drop-shadow(0px 20px 20px black);
	min-height:0px;
	margin:35px;
	background-color: #262626;
	border-top-right-radius: 6px;
	border-top-left-radius: 6px;
	padding:30px;
}

.mainbox_media{
	width:100%;
	min-height:0px;
	background:  #1a1a1a;
	border-radius:3px/3px;
	margin:auto;
	margin-bottom: 47px;
	padding-bottom: 35px;
	filter:drop-shadow(0px 20px 20px black);
}
#box_friend_profpic{
	width:56px;
	height:65px;
	margin: 4px;
	text-align: center;
	margin-bottom: 10px;
	display: block;
}

#box_join,#box_ID{
	text-align: center;
}

/*FONT-------------------------------------------------------*/
h3{
	text-align: left;S
	font-family: calibri;
}
#p_username{
	font-size: 20px;
	font-family: calibri;
	font-weight: bold;
	text-align: center;
}
#p_status{
	font-size: 10px;
	font-style: italic;
	text-align: center;
}
#p_join{
	font-size: 9px;
	text-align: center;
}
#p_id{
	font-size: 10px;
	float:left;
	text-align: center;
}
#p_ff{
	margin-top: 10px;
	text-align: center;
	font-size: 14px;
	color: white;
	font-family: calibri;
}
#p_title{
	text-align: center;
	font-size: 15px;
	font-family: calibri;
	color: white;
	margin:auto;
	padding:3px;
}
#p_friend_name{
	font-size: 7px;
	color: white;
}

/*GAMBAR-------------------------------------------------------*/

#img_profpic{
	height:164px;
	margin: 0 auto;
}

#img_friend_profpic{
	width: 100%;
}

#img_smallIcon{
	height:40px;
}

/*BUTTON*/
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#4b4b4b;
	color:white;
	border-radius:15px;
	text-align:center;
	filter:drop-shadow(0px 20px 20px black);
}

.float2{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:111px;
	background-color:#4b4b4b;
	color:white;
	border-radius:15px;
	text-align:center;
	filter:drop-shadow(0px 20px 20px black);
}

.float3{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:182px;
	background-color:#4b4b4b;
	color:white;
	border-radius:15px;
	text-align:center;
	filter:drop-shadow(0px 20px 20px black);
}
.my-float{
	margin-top:22px;
	filter:drop-shadow(0px 20px 20px black);
}